/*Colorado Food Truck Finder*/

body {
    padding-top: 10px;
    /*background: linear-gradient(to left, #FF512F , #DD2476);*/
    font-family: 'Muli', sans-serif;
    color: #000;
  }
}

/*NAVAGATION BAR*/

.navbar-brand img{
  width: 150px;
}

.navbar-nav{
  padding-top: 10px;
}

.nav.navbar-nav.navbar-right{
  padding-top: 60px;
}

.den{
  font-family: 'Bangers';
}

/* CONTENT */

#main-header{
  margin: auto;
}
#filters.btn-group.btn-group-vertical{
  width: 100%;
}

/* MAP */

#truckInfo{
  font-size: 10px;
}
.ng-map-info-window{
  margin:auto;
  /*left: 220px;*/
}

#myInfoBox{
  margin:auto;
  /*left:100px;*/
  width:200px;
}


/* BOTTOM CONTENT */

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}
