/*Colorado Food Truck Finder*/

/*NON-GOOGLE FONTS*/

@font-face {
  font-family: Nexa-Bold;
  src: url('fonts/Nexa-Bold.otf');
}
@font-face {
  font-family: Nexa-Light;
  src: url('fonts/Nexa-Light.otf');
}
@font-face {
  font-family: Chunkfive;
  src: url('fonts/Chunkfive.otf');
}

body {
    margin: auto;
    background-image: url('imgs/hand-held-sandy1.jpg');
    /*background-image: url('imgs/hand-held-sandy-color.jpg');*/
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    /*background: linear-gradient(to left, #FF512F , #DD2476);*/
    font-family: 'Muli', sans-serif;
    color: #fff;
  }
}

/*NAVAGATION BAR*/

.navbar-nav{
  padding-top: 10px;
}

.navbar .navbar-top{
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-brand{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.navbar-brand > img{
  margin: inherit;
  position: absolute;
  display: inline;
  transition: 1s;
  top: -10px;
}

.navbar-brand > img:hover{
  transform: rotate(-10deg) scale(1.5);
}

.navbar-toggle {
    z-index:3;
}

.navbar .navbar-collapse {
  text-align: center;
  padding-top: 20px;
  /*border-bottom: 1px #fff solid;*/
}

.navbar .navbar-collapse a{
  color: #fff
}

/* ClEAR */

.clear-fix{
  clear: both;
  margin-bottom: 50px;
  border-top: 1px #fff solid;
}

/* CONTENT */


.den{
  font-family: 'Bangers';
}

#main-header{

}

#filters.btn-group.btn-group-vertical{
  width: 70%;
}

.btn-group button:hover{
  color: #fff;
  background-color: #EC008B;
}

/* MAP */

#truckInfo{
  font-size: 10px;
}

/* BG ELEMENTS */

.div-box1 {
  position: absolute;
  background-color: #ec008c;
  width: 776px;
  height: 362px;
  opacity: 0.5;
  top: 194px;
  left: 45px;
  box-shadow: 10px 30px 40px black;

}
.div-box2 {
  position: absolute;
  background-color: #fded18;
  width: 360px;
  height: 350px;
  opacity: 0.5;
  top: 230px;
  left: 846px;
  box-shadow: 10px 30px 40px black;
}
.div-box2-2 {
  position: absolute;
  background-color: #ec008c;
  width: 500px;
  height: 80px;
  opacity: 0.5;
  top: 853px;
  left: 687px;
  box-shadow: 10px 30px 40px black;
}
.div-box3 {
  position: absolute;
  background-color: #fded18;
  width: 350px;
  height: 90px;
  opacity: 0.5;
  top: 327px;
  left: 969px;
  box-shadow: 10px 30px 40px black;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);r
}

.div-box3 h2{
  color: #000;
  padding:5px 40px 0 0;
  font-family: Chunkfive;
}

.div-box4 {
  position: absolute;
  background-color: #2b2c6b;
  width: 1100px;
  height: 117px;
  opacity: 0.9;
  top: 657px;
  left: 60px;
  box-shadow: 10px 30px 40px black;
}


.ng-map-info-window{
  /*margin:auto;*/
  /*left: 220px;*/
}

#myInfoBox{
  margin:auto;
  /*left:100px;*/
  width:200px;
}


/* BOTTOM CONTENT */

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}
