<!DOCTYPE html>
<html ng-app="foodTruckApp">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/auth.css">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/be718bed0f.js"></script>
        <script src="js/main.js" type="text/javascript"></script>
        <script src="js/app.factory.js" type="text/javascript"></script>
        <script src="/js/auth.js"></script>
    </head>
    <body ng-controller="app.auth.controller as auth">
      <div class="container-fluid">
        <div class="row">

      <div class="col-md-6">
        <div class="left-auth-col"></div>
</div>      <!-- first col  -->
      <div class="col-md-6">
        <section id="tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#login" aria-controls="home" role="tab" data-toggle="tab">Login</a>
                </li>
                <li role="presentation">
                    <a href="#register" aria-controls="profile" role="tab" data-toggle="tab">Register</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="login" role="tabpanel" class="tab-pane active">
                    <form ng-submit="auth.login.submit(auth.payload)">
                        <h1 class="text-center">Login!</h1>
                        <fieldset class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                <input required placeholder="Email" class="form-control" type="email" ng-model="auth.payload.email"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input required placeholder="Password" class="form-control" type="password" ng-model="auth.payload.password"/>
                            </div>
                        </fieldset>
                        <input class="btn btn-primary" type="submit" value="Login">
                        <p ng-class="auth.login.alert">{{ auth.login.message }}</p>
                    </form>
                </div>
                <div id="register" role="tabpanel" class="tab-pane">
                    <form ng-submit="auth.register.submit(auth.payload)">
                        <h1 class="text-center">Register Your Truck</h1>
                        <fieldset class="form-group">
                            <label class="sr-only" for="fullName">Full Name</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                <input required placeholder="Name" class="form-control" type="text" ng-model="auth.payload.fullName"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                          <label class="sr-only" for="truckName">Truck Name</label>
                          <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                            <input required placeholder="Truck Name" class="form-control" type="text" ng-model="auth.payload.truckName"/>
                          </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label class="sr-only" for="phone">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                <input required placeholder="Phone Number" class="form-control" type="text" ng-model="auth.payload.phone"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                <input required placeholder="Email" class="form-control" type="text" ng-model="auth.payload.email"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input required placeholder="Create a password" class="form-control" type="password" ng-model="auth.payload.password"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                          <div class=""><i class="fa fa-picture-o" aria-hidden="true"></i>  Profile Image</div>
                          <label class="sr-only" for="image">Image Upload</label>
                          <input type="file" name="image-upload" class="file-upload-button" id="profile-image" ng-model="auth.payload.image">
                        </fieldset>
                        <input class="btn btn-primary" type="submit"/>
                        <p ng-class="auth.register.alert">{{ auth.register.message }}</p>
                    </form>
                </div>
            </div>
        </section>
        </div>
      </div> <!-- row -->
        </div> <!-- main container -->
    </body>
</html>
