<!DOCTYPE html>
<html ng-app="foodTruckApp">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/dashboard.css">
        <link rel="stylesheet" href="/styles/style.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="https://use.fontawesome.com/be718bed0f.js"></script>
        <script src="/js/main.js"></script>
        <script src="js/app.factory.js" type="text/javascript"></script>
        <script src="/js/dashboard.js"></script>
        <script src="/js/auth.js"></script>
    </head>

    <body ng-controller="DashboardController as dash" class="container">
        <div class="jumbotron dashboard">
          <h1>Welcome, <%= user.fullName %>!</h1>
          <p>Let's put <%= user.truckName %> on the map.</p>
        </div>
          <div class="row">
          <div class="col-md-8">
          <!-- MAP -->
          <div id="map"></div>
          </div>
          <div class="col-md-4">
          <div class="row">
            <div class="container">
            	<table>
               <form ng-submit="dash.addType(dash.user.types)">
            		<thead>
            			<tr>
            				<th><i class="fa fa-cutlery" aria-hidden="true"></i></th>
            				<th class="list-group-item"><%= user.fullName %></th>
            			</tr>
            		</thead>
            		<tbody>
            			<tr>
            				<td><i class="fa fa-cutlery" aria-hidden="true"></i></td>
            				<td class="list-group-item"><%= user.truckName %></td>
            			<tr>
            				<td><i class="fa fa-cutlery" aria-hidden="true"></i></td>
            				<td class="list-group-item"><%= user.phone %></td>
            			</tr>
                  <tr>
                    <td><i class="fa fa-cutlery" aria-hidden="true"></i></td>
                    <td class="list-group-item"><%= user.email %></td>
                  </tr>
            			<tr>
            				<td><i class="fa fa-cutlery" aria-hidden="true"></i></td>
            				<td><label class="checkbox-inline" ng-repeat="(key, value) in dash.type">
                      <input type="checkbox" ng-model="dash.user.types[key]">{{ key }}</label></td>
            			</tr>
            		</tbody>
            	</table>
              <input class="btn btn-primary user-prof-btn" type="submit"/>
            </div>
        <div class="row">
          <div class="col-lg-12">
          <a href="/logout" class="btn btn-lg">Logout</a>
          </div>
        </div>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUS3Er-vaSP_skHC0TpPOR4WNHHE55stE">
       </script>
    </body>
</html>
