<!DOCTYPE html>
<html ng-app="foodTruckApp">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/dashboard.css">
        <link rel="stylesheet" href="/styles/style.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="https://use.fontawesome.com/be718bed0f.js"></script>
        <script src="/js/main.js"></script>
        <script src="js/app.factory.js" type="text/javascript"></script>
        <script src="/js/dashboard.js"></script>
        <script src="/js/auth.js"></script>
    </head>

    <body ng-controller="DashboardController as dashboard" class="container">
        <div class="jumbotron dashboard">
          <h1>Welcome, <%= user.fullName %>!</h1>
          <p>Let's put <%= user.truckName %> on the map.</p>
        </div>
          <div class="row">
          <div class="col-md-8">
          <!-- MAP -->
          <div id="map"></div>
          </div>
          <div class="col-md-4">
          <div class="row">
            <ul class="list-group user-profile">
            <li class="list-group-item"><%= user.fullName %></li>
            <li class="list-group-item"><%= user.truckName %></li>
            <li class="list-group-item"><%= user.phone %></li>
            <fieldset class="form-group">
                <label class="sr-only" for="hours">Hours</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <input required placeholder="Hours" class="form-control" type="text" ng-model="auth.payload.hours"/>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="sr-only" for="website">Website</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                    <input required placeholder="Website" class="form-control" type="text" ng-model="auth.payload.website"/>
                </div>
            </fieldset>
            <li class="list-group-item"><%= user.email%><li>
              <!-- <input class="btn btn-primary" type="submit"/>
              <p ng-class="">{{ }}</p> -->
          </ul>
          </div>
          </div> <!-- row -->

        <div class="row">
          <div class="col-lg-12">
          <a href="/logout" class="btn btn-lg">Logout</a>
          </div>
        </div>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUS3Er-vaSP_skHC0TpPOR4WNHHE55stE">
       </script>
    </body>
</html>
