#wrapper{
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.logins{
  margin-top:0px;
}

form {
    padding: 0 30px;
}

#tabs {
    margin: 50px auto;
    width: 400px;
}

#tabs h1 {
    margin: 0;
    padding: 30px;
    font-family: 'leaque-spartan';
    color: #000;
}

.tab-content {
    border: 0px solid #ddd;
    border-top: none;
}

.alert {
    margin: 20px 0;
}

.tab-pane {
    padding: 30px 0;
    box-sizing: border-box;
}

.main-btn{
    background-color: #ec008b;
    border-color: #ec008B;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: rgba(255,255,255,0.7);
}

#login, #register{
  background-color: rgba(255,255,255,0.7);
}


/* Right Section */

/*.right-auth-col{
 margin: 50px 50px auto;
 background-image: url('/styles/imgs/rear-truck2.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 height: 458px;
 box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);

}
.right-content{
  padding: 50px;
  margin: 87px 50px auto;
}
.right-content h2{
  margin-left: -50px;
  font-size: 40px;
  color: #fff;
  letter-spacing: 2pt;
}

.definition{
  background-color: #fff;
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  color: black;
  padding: 20px;
  margin: 0px 60px 0px 0px;
  width: 250px;
  font-family: 'Bodini-72';
  font-size: 16px;
}*/
