body {
    margin-top: 40px;
    background-image: url('imgs/hand-held-sandy1.jpg');
    /*background-image: url('imgs/hand-held-sandy-color.jpg');*/
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    font-family: 'Muli', sans-serif;
}
.dashboard{
  background-color: #fff;
  color: #000;
  opacity: .5;
}
.dashboard h1{
  font-family: 'Nexa-Bold', sans-serif;
}
.user-profile{
  color: #000;
}
