body {
    margin-top: 40px;
    background-image: url('imgs/hand-held-sandy1.jpg');
    /*background-image: url('imgs/hand-held-sandy-color.jpg');*/
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    font-family: 'Muli', sans-serif;
}
.container {
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.dashboard{
  background-color: #fff;
  color: #000;
  opacity: .5;
}
.dashboard h1{
  font-family: 'Nexa-Bold', sans-serif;
}
.user-profile{
  color: #000;
}
.truck-types{
  padding: 5px;
  background-color: #bfbfbf;
}
.user-prof-btn, .user-prof-btn:hover{
  width: 90%;
  margin: 15px;
  background-color: #ec008b;
  border-color: #ec008B;
}
.user-prof-btn:hover{
  width: 90%;
  margin: 15px;
  background-color: #f7a4d9;
  border-color: #f7a4d9;
}

}
.btn-lg.user-logout{
  background-color: #fded18;
  border-color: #fded18;
}

table {
	width: 350px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin-left: 10px;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.list-group-item{
  background-color: rgba(255,255,255,0.2);
}
.checkbox-inline{
  margin-left: 10px;
}
