body {
    margin: auto;
    background-image: url('imgs/bg-truck.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    font-family: 'Muli', sans-serif;
    color: #fff;
}

.navbar{
  margin-bottom: 45px;
}

.dashboard {
    margin-top: 10px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #fff;
    color: #000;
    opacity: .5;
    display: inline-block;
    width: 100%;
    z-index: 1
}

.dashboard h1{
  font-size: 35px;
}

.dash-kid{
  position: absolute;
  top: 100px;
  left: 860px;
  z-index: 2;
  width: 30%;
}

.user-profile {
    color: #000;
}

.truck-types {
    padding: 5px;
    background-color: #bfbfbf;
}

.user-prof-btn{
    width: 90%;
    margin: 15px;
    background-color: #ec008b;
    border-color: none;
}

.user-prof-btn:hover {
    width: 90%;
    margin: 15px;
    background-color: #ec3aa0;
    border-color: none;
}

.sign-out {
    text-align: center;
}

.logout-btn{
  color:#000;
  width: 90%;
  margin: 15px;
  background-color: #8bdaff;
}
.logout-btn:hover{
  color: #fff;
  width: 90%;
  margin: 15px;
  background-color: #69cfff;s;
}

.table-bg{
  padding-top: 30px;
  width: 350px;
  background-color: rgba(0,0,0,0.7);
  padding: 30px 20px 0px 10px;
}
#map{
  z-index: 3;
}

.right-table{
  z-index: 4;
}
table {
    z-index:
    width: 300px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-left: 10px;
}

th,td {
    padding: 15px;
    /*background-color: rgba(255,255,255,0.2);*/
    color: #fff;
}

thead {
    thbackground-color: #55608f;
}

tbody {
    tr: hover {;
    /*background-color: rgba(255,255,255,0.3);*/
 }
}

td {
    position: relative;
    &: hover { &:before {;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    /*background-color: rgba(255,255,255,0.2);*/
    z-index: -1;
   }
  }
 }
}


.checkbox-inline li:nth-child(1){
    margin-left: 10px !important;
}
