/*Colorado Food Truck Finder*/

/*NON-GOOGLE FONTS*/

@font-face {
  font-family: Nexa-Bold;
  src: url('fonts/Nexa-Bold.otf');
}
@font-face {
  font-family: Nexa-Light;
  src: url('fonts/Nexa-Light.otf');
}
@font-face {
  font-family: Chunkfive;
  src: url('fonts/Chunkfive.otf');
}

body {
    margin: auto;
    background-image: url('imgs/hand-held-sandy1.jpg');
    /*background-image: url('imgs/hand-held-sandy-color.jpg');*/
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    /*background: linear-gradient(to left, #FF512F , #DD2476);*/
    font-family: 'Muli', sans-serif;
    color: #fff;
  }
}

/*NAVAGATION BAR*/

.navbar-nav{
  padding-top: 10px;
}

.navbar .navbar-top{
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-brand{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.navbar-brand > img{
  margin: inherit;
  position: absolute;
  display: inline;
  transition: 1s;
  top: -10px;
}

.navbar-brand > img:hover{
  transform: rotate(-10deg) scale(1.5);
}

.navbar-toggle {
    z-index:3;
}

.navbar .navbar-collapse {
  text-align: center;
  padding-top: 20px;
  /*border-bottom: 1px #fff solid;*/
}

.navbar .navbar-collapse a{
  color: #fff
}
.navbar .navbar-collapse a:hover{
  color: #000
}

/* CONTENT */

.headline{
  font-family: 'Chunkfive';
  text-align: right;
}
.mapheader p{
  text-align: right;
}
.left-nav h3{
  padding-top: 5px;
}
#filters.btn-group.btn-group-vertical{
  width: 90%;
  padding-left: 15px;
  padding-top: 15px;
}

.btn-group button:hover{
  color: #fff;
  background-color: #EC008B;
}

.btn-group button:visted{
  color: #000;
  background-color: #000;
}

#custom-search-input{
  margin-top:2%;
  width: 90%;
  padding-left: 15px;
}
#custom-search-input button{
  background-color: #2b2c6b;
}
.btn-info{
  border-color: #2b2c6b;
}
/* MAP */

#map{
  width: 740px;
  height: 400px;
}

#truckInfo{
  font-size: 10px;
  color: #000;
}

#myInfoBox{
  margin:auto;
  /*left:100px;*/
  width:200px;
}

.map-header{
  margin-bottom: 0px;
}
/* BG ELEMENTS */

.div-box1 {
  position: absolute;
  background-color: #ec008c;
  width: 877px;
  height: 500px;
  opacity: 0.5;
  top: 193px;
  left: 35px;
  box-shadow: -25px 37px 40px black;

}
.div-box2 {
  position: absolute;
  background-color: #fded18;
  width: 401px;
  height: 381px;
  opacity: 0.5;
  top: 200px;
  left: 836px;
  box-shadow: 10px 25px 40px black;
}
.div-box2-2 {
  position: absolute;
  background-color: #ec008c;
  width: 500px;
  height: 60px;
  opacity: 0.5;
  top: 859px;
  left: 687px;
  box-shadow: 10px 30px 40px black;
}
.div-box3 {
  position: absolute;
  background-color: #10afff;
  width: 350px;
  height: 66px;
  opacity: 0.8;
  top: 333px;
  left: 997px;
  box-shadow: 10px 30px 40px black;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.div-box3 h3{
  color: #000;
  padding-left:20px;
  padding-top: -2px;
  font-family: Chunkfive;
}

.div-box4 {
  position: absolute;
  background-color: #2b2c6b;
  width: 1100px;
  height: 117px;
  opacity: 0.9;
  top: 676px;
  left: 60px;
  box-shadow: 10px 30px 40px black;
}

@-webkit-keyframes mymove {
    from {left: 249px;}
    to {left: 690px;}
}

@keyframes mymove {
    from {left: 249px;}
    to {left: 690px;}
}

.mini-truck{
  position: absolute;
  top: 94px;
  left: 249px;
  -webkit-animation: mymove 5s infinite;  /* Chrome, Safari, Opera */
  animation: mymove 5s infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; /* ease-out
}


/* BOTTOM CONTENT */

.portfolio-item {
    margin-bottom: 25px;
}

.featured-trucks{
  padding-top: 20px;
}

footer {
    margin: 50px 0;
    color: #fff;
}

.copyright p{
    float: left;
}

.list-footer{
  display: inline;
}

.list-footer a{
  color: #fff;
}

.list-footer a:hover{
  color: #fff;
}

/* MEDIA QUERIES */

@media only screen and (max-device-width:720px){
  .div-box1, .div-box2-2 {
    display: none;
  }
  .div-box2, .div-box3, .div-box4 {
    display: none;
  }
}
@media only screen and (max-width:720px){
  .div-box1, .div-box2-2 {
    display: none;
  }
  .div-box2, .div-box3, .div-box4 {
    display: none;
  }
}
